.style1 {
  color: #e879f9;
  background-color: #c026d329;
}

.style2 {
  color: #4ade80;
  background-color: #22c55e29;
}

.style3 {
  color: #38bdf8;
  background-color: #0284c729;
}

.style4 {
  color: #f472b6;
  background-color: #db277729;
}

.style5 {
  color: #fbbf24;
  background-color: #f59e0b29;
}

.languageContainer {
  /* height: 40px;
  margin: 5px;
  padding: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 15px;
  font-family: 'Roboto';
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 30px;
  min-width: 20%;
}

@media screen and (min-width: 768px) {
  .languageContainer {
    min-width: 10%;
  }
}
